depexts: [
  ["srt-devel"] {os-distribution = "centos"}
  ["srt-devel"] {os-distribution = "fedora"}
  ["srt-devel"] {os-family = "suse"}
  ["libsrt-gnutls-dev libgnutls28-dev"] {os-family = "debian"}
  ["srt"] {os = "macos" & os-distribution = "homebrew"}
]
